body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text' serif;
    margin: 3rem 5%;
}

h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 2.3rem;
}

p {
    font-weight: 400;
    font-size: 1.3rem;
}

header img {
    display: block;
    margin: 0.5rem auto;
    max-width: 400px;
}

nav {
    background-color: #333333;
    border-radius: 1rem;
    margin: 1rem 1rem;
}

nav ul {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding-inline-start: 0rem;
}

nav ul li {
    display: inline-block;
    margin: 0.25rem;
}

nav ul a {
    text-decoration: none;
    color: #EDEFEE;
}

nav ul a:active {
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: none;
    text-decoration-thickness: 0.1rem;
    background-color: #5b423a;
    opacity: 0.5rem;
    color: #EDEFEE;
}

section {
    display: flex;
    gap: 2rem 1rem;
    margin: 1rem auto;
}

article {
    flex: 1;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
}

article h2 {
    text-align: center;
}

article img {
    max-width: 100%;
    border-radius: 100px;
}

article ul {
    list-style: none;
    font-size: 1.3rem;
}

article a:link {
    font-size: 1.3rem;
}

article a:hover {
    color: #495E57;
}

article a:active {
    color: #EDEFEE;
    background-color: #495E57;
}

main article {
    background-color: #fbdabb79;
    padding-left: 1rem;
    padding-right: 1rem;
}

#hero {
    background-image: url("../Assets/Asset\ 9@4x.png");
    background-size: cover;
    background-position: center;
    color: #EDEFEE;
    text-shadow: 2px 2px 8px #495E57;
    text-align: center;
    max-height: 550px;
}

#hero h1 {
    margin-right: 2rem; 
    font-weight: 600;
    font-size: 80px;
}

#hero p {
    max-width: 100%;
    
}

footer {
    margin: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer img {
    max-width: 70%;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
}

span {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: auto;
}

footer div {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    header img {
        display: block;
        margin: 0.5rem auto;
        max-width: 200px;
    }

    nav ul {
        list-style: none;
        font-size: 1.5rem;
        text-align: center;
        /* padding-inline-start: 0rem; */
    }

    #hero {
        background-image: url("../Assets/Asset\ 9@4x.png");
        background-size: cover;
        background-position: center;
        color: #EDEFEE;
        text-shadow: 2px 2px 8px #495E57;
        text-align: center;
        max-height: 35000px;
    }

    #hero h1 {
        margin-right: 1rem; 
        font-weight: 500;
        font-size: 35px;
    }

    section {
        display: grid;
        gap: 2rem 1rem;
        margin: 1rem auto;
    }

    p {
        font-weight: 500;
        font-size: 1rem;
    }

    article h2 {
        text-align: center;
    }
    
    article img {
        height: 200px;
        width: 200px;
        max-width: auto;
        border-radius: 100px;
        display: block;
        margin: 2px auto;
    }
    

  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }